.footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;

  height: 110px;
  background: grey;
}
.table {
  width: auto;
  margin-right: 0px;
  border: 0px;
  margin-left: auto;
}
